<div id="people_subnav" class="subnav">
    <ul class="clearfix">
      <li><%= link_to 'Browse people', people_url, 
              :class => subnav_class_for("people", "index") %>
      </li>
<!--       <li><%= link_to 'Add a person', new_person_url,
              :class => subnav_class_for("people", "new") %>
      </li>
 -->    </ul>
</div>
