<div id="events_subnav" class="subnav">
    <ul class="clearfix">
      <li><%= link_to 'Overview', root_url,
              :class => subnav_class_for("site", "index") %>
      </li>
      <li><%= link_to 'Browse events', events_url,
              :class => subnav_class_for("events", "index") %>
      </li>
    </ul>
</div>
