<h2>Hi there.</h2>
<p class='first'>The <strong>Geoloqi/Esri Events Calendar</strong> is here to let you know what events you can find people from the Geoloqi and Esri teams.</p>

<h4>Subscribe To</h4>
<ul>
  <li><%= link_to "iCalendar feed", icalendar_feed_link %></li>
  <li><%= link_to "Atom feed", atom_feed_link %></li>
</ul>
